{% extends 'base.html' %}

{% block head %}
<div class ='header' style="border: solid;">
    <h1 style="font-size: 30px;">Welcome to OfentseBlogs!</h1>
    <h3>Your go to blog space to view, edit, and delete blogs</h3>
    </div>
{% endblock head %}

{% block body %}
<div class="blog_entry">
    <h2>{{blog.title}}</h2>
    <h4>Posted on {{blog.date_posted}}</h4>
    <br>
    <p>{{blog.content}}</p>
</div>
<div>
    <form action="/newblog/{{blog.id}}/" method = 'quit'>
        <input type="button" name="quit" value="quit">
    </form>
</div>
{% endblock body %}